<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HenaHena {% block titre %} {% endblock %}</title>

    <!-- CSS -->
    {% block styles %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/animate.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{asset('assets/flexslider/flexslider.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/form-elements.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/media-queries.css')}}">
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>-->
    {% block scriptsHead %}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    {%  endblock %}
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('assets/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('assets/ico/apple-touch-icon-114-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('assets/ico/apple-touch-icon-72-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{asset('assets/ico/apple-touch-icon-57-precomposed.png')}}">

</head>

<body>

<!-- Top menu -->
<nav class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HenaHena</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logements">
                        <i class="fa fa-home"></i><br>Logements <span class="caret"></span>
                    </a>
                </li>
                {% if app.user %}
                <li>
                    <a href="bonplans.html"><i class="fa fa-paper-plane"></i><br>Bon plans  <span class="caret"></span></a>
                </li>
                <li>

                    <a href="/profil"><i class="fa fa-user-circle-o"></i><br>{{ app.user.prenom }}</a>
                <li>
                    <a href="/logout"><i class="fa fa-sign-in"></i><br>Deconnexion</a>
                </li>
                    {%  else %}
                <li>
                    <a href="/register"><i class="fa fa-sign-in"></i><br>S'inscrire</a>
                </li>
                   <li> <a href="/login"><i class="fa fa-user-circle-o"></i><br>Se connnecte</a></li>
                    {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- Main section
   ================================================== -->
{% block contenu %}
<div id="tf-features">


    <div id="feature" class="gray-bg"> <!-- fullwidth gray background -->
        <div class="container"> <!-- container -->
            <div class="row" role="tabpanel"> <!-- row -->
                <div class="col-md-4 col-md-offset-1"> <!-- tab menu col 4 -->

                    <ul class="features nav nav-pills nav-stacked" role="tablist">
                        <li role="presentation" class="active">  <!-- feature tab menu #1 -->
                            <a href="#f1" aria-controls="f1" role="tab" data-toggle="tab">
                                <span class="fa fa-desktop"></span>
                                Internet Communication<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                        <li role="presentation"> <!-- feature tab menu #2 -->
                            <a href="#f2" aria-controls="f2" role="tab" data-toggle="tab">
                                <span class="fa fa-pencil"></span>
                                Branding and Development<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                        <li role="presentation"> <!-- feature tab menu #3 -->
                            <a href="#f3" aria-controls="f3" role="tab" data-toggle="tab">
                                <span class="fa fa-space-shuttle"></span>
                                Motion Graphics<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                        <li role="presentation"> <!-- feature tab menu #4 -->
                            <a href="#f4" aria-controls="f4" role="tab" data-toggle="tab">
                                <span class="fa fa-automobile"></span>
                                Mobile Application<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                        <li role="presentation"> <!-- feature tab menu #5 -->
                            <a href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                <span class="fa fa-institution"></span>
                                Relaible Company Analysis<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                    </ul>

                </div><!-- end tab menu col 4 -->

                <div class="col-md-6"> <!-- right content col 6 -->
                    <!-- Tab panes -->
                    <div class="tab-content features-content"> <!-- tab content wrapper -->
                        <div role="tabpanel" class="tab-pane fade in active" id="f1"> <!-- feature #1 content open -->
                            <h4>Internet Communication</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab01.png" class="img-responsive" alt="...">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="f2"> <!-- feature #2 content -->
                            <h4>Branding and Development</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab02.png" class="img-responsive" alt="...">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="f3"> <!-- feature #3 content -->
                            <h4>Motion Graphics</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab03.png" class="img-responsive" alt="...">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="f4"> <!-- feature #4 content -->
                            <h4>Mobile Application</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab04.png" class="img-responsive" alt="...">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="f5"> <!-- feature #5 content -->
                            <h4>Relaible Company Analysis</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab05.png" class="img-responsive" alt="...">
                        </div>
                    </div> <!-- end tab content wrapper -->
                </div><!-- end right content col 6 -->

            </div> <!-- end row -->
        </div> <!-- end container -->
    </div><!-- end fullwidth gray background -->
</div>


<!-- Services -->
<div class="services-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="service wow fadeInUp">
                    <div class="service-icon"><i class="fa fa-eye"></i></div>
                    <h3>Beautiful Websites</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et...</p>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="service wow fadeInDown">
                    <div class="service-icon"><i class="fa fa-table"></i></div>
                    <h3>Responsive Layout</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et...</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service wow fadeInUp">
                    <div class="service-icon"><i class="fa fa-magic"></i></div>
                    <h3>Awesome Logos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et...</p>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="service wow fadeInDown">
                    <div class="service-icon"><i class="fa fa-print"></i></div>
                    <h3>High Res Prints</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et...</p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Footer -->
<footer>
    {%  block footer %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 footer-box wow fadeInUp">
                <h4>About Us</h4>
                <div class="footer-box-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et.
                    </p>
                    <p><a href="about.html">Read more...</a></p>
                </div>
            </div>
            <div class="col-sm-3 footer-box wow fadeInDown">
                <h4>Email Updates</h4>
                <div class="footer-box-text footer-box-text-subscribe">
                    <p>Enter your email and you'll be one of the first to get new updates:</p>
                    <form role="form" action="assets/subscribe.php" method="post">
                        <div class="form-group">
                            <label class="sr-only" for="subscribe-email">Email address</label>
                            <input type="text" name="email" placeholder="Email..." class="subscribe-email"
                                   id="subscribe-email">
                        </div>
                        <button type="submit" class="btn">Subscribe</button>
                    </form>
                    <p class="success-message"></p>
                    <p class="error-message"></p>
                </div>
            </div>
            <div class="col-sm-3 footer-box wow fadeInUp">
                <h4>Flickr Photos</h4>
                <div class="footer-box-text flickr-feed"></div>
            </div>
            <div class="col-sm-3 footer-box wow fadeInDown">
                <h4>Contact Us</h4>
                <div class="footer-box-text footer-box-text-contact">
                    <p><i class="fa fa-map-marker"></i> Address: Via Principe Amedeo 9, 10100, Torino, TO, Italy</p>
                    <p><i class="fa fa-phone"></i> Phone: 0039 333 12 68 347</p>
                    <p><i class="fa fa-user"></i> Skype: Andia_Agency</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="">contact@andia.co.uk</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 wow fadeIn">
                <div class="footer-border"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 footer-copyright wow fadeIn">
                <p>Copyright 2012 Andia - All rights reserved. Template by <a href="http://azmind.com">Azmind</a>.</p>
            </div>
            <div class="col-sm-5 footer-social wow fadeIn">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>
    {% endblock %}
</footer>

<!-- Javascript -->
{%  block scripts %}
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/flexslider/jquery.flexslider-min.js"></script>
<script src="assets/js/jflickrfeed.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="assets/js/jquery.ui.map.min.js"></script>
<script src="assets/js/scripts.js"></script>
{%  endblock %}
</body>

</html>