{% extends "::layout.html.twig" %}
{% block titre %}
    S'inscrire
{% endblock %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/jquery-ui/jquery-ui.min.css')}}">
    {% endblock %}

{% block contenu %}
<h1>Inscris-toi sur HenaHena !</h1>

    <form  action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">

        <div class="form-group {% if form_errors(form.email)|length >1 %} error{% endif %}">
            <label for="username" class="control-label">Adresse e-mail : </label>
                {{ form_widget(form.email) }}
        </div>
        <div class="form-group {% if form_errors(form.plainPassword.first)|length >1 %} error{% endif %}">
            <label for="username" class="control-label">Mot de passe</label>
                {{ form_widget(form.plainPassword.first) }}
                <span class="help-inline">{{ form_errors(form.plainPassword.first) }}</span>
        </div>
        <div class="form-group">
            <label for="username" class="control-label">Confirmer votre mot de passe</label>
                {{ form_widget(form.plainPassword.second) }}

        </div>

        <div class="form-group">
            <label for="nom" class="control-label">Nom : </label>
            {{ form_widget(form.nom) }}
        </div>

        <div class="form-group">
            <label for="prenom" class="control-label">Prénom : </label>

                {{ form_widget(form.prenom) }}
        </div>

        <div class="form-group">
            <label for="statut" class="control-label">Statut : </label>

                {{ form_widget(form.statut) }}

        </div>
        <div class="form-group">
            <label for="datenaiss" class="control-label">Date de naissance : </label>
                {{ form_widget(form.dateNaissance) }}
        </div>

        <div class="form-group">
            <label for="sexe" class="control-label">Sexe : </label>

                {{ form_widget(form.sexe) }}

        </div>


        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn btn-info">S'inscrire <i class="icon-white icon-edit"></i></button>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

{% endblock %}
{% block scripts %}
{{ parent() }}
   <script src="{{asset("assets/jquery-ui/jquery-ui.min.js")}}"></script>
    <script src="{{asset("assets/jquery-ui/datepicker-fr.js")}}"></script>
    <script>
    $('#datepicker').datepicker($.datepicker.regional['fr']);
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        minDate: '1930-01-01',
        maxDate: '2017-01-01',

    });
    afficherCalendrier('fos_user_registration_form_dateNaissance');
    function afficherCalendrier(idInputDate)
    {
        $('#' + idInputDate).datepicker({
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            defaultDate: '1990-01-01'
        });
    }
    </script>
{% endblock %}