{% extends "::layout.html.twig" %}
{%  block title %}
    {{ parent() }} - {{ evenement.nom}}
{% endblock %}
{%  block contenu %}
    <div class="content">
    <h1>{{ evenement.nom }}</h1>

        Créé par : <a href="{{ path('user_profilof',{'id':evenement.user.id}) }}">{{ evenement.user.prenom }}</a>
    </div>
{%  endblock %}