<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
<form action="{{ path("evenement_create")}}" method="post" {{ form_enctype(form) }}>

    <div>
        {{ form_errors(form.nom) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>
    <div>
        {{ form_errors(form.contenu) }}
        {{ form_label(form.contenu) }}
        {{ form_widget(form.contenu) }}
    </div>
    <div>
        {{ form_errors(form.dateHeure) }}
        {{ form_label(form.dateHeure) }}
        {{ form_widget(form.dateHeure) }}
    </div>
    <input type="hidden" id="e10_2" style="width:300px"/>
    <script>
        $(document).ready(function() {

            // tell Select2 to use the property name for the text
            function format(item) { return item.name; };

            var names = [{"id":"1","name":"Adair,James"}
                , {"id":"2","name":"Anderson,Peter"}
                , {"id":"3","name":"Armstrong,Ryan"}]

            $("#e10_2").select2({
                data:{ results: names, text: 'name' },
                formatSelection: format,
                formatResult: format
            });

        });
    </script>

    {{ form_rest(form) }}
    <input type="submit" id="submit" value="" name="submit" />
</form>