{% extends "::layout.html.twig" %}
{% block titre %}
    {{ parent() }} Administration
{% endblock %}
{% block contenu %}

    <h1><span class="fa fa-map-marker"></span> Lieux </h1>


    <ul class="nav nav-tabs">
        <li class="active"><a href="#Lieux" data-toggle="tab">Lieux</a></li>
        <li><a href="#ajouterlieux" data-toggle="tab">Ajouter un lieu</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="Lieux">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Informations</th>
                        <th>Téléphone</th>
                        <th>Nombre d'événements associés</th>
                         <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lieu in lieux %}
                        <tr>
                            <td> {{ lieu.info }}</td>
                            <td>{{ lieu.telephone }}</td>
                            <td>{{ lieu.evenementsLieu|length }}</td>
                            <td><a href="{{ path('lieu_edit',{'id':lieu.id}) }}"
                                   class="btn btn-primary">Modifier</a>
                                <a href="{{ path('lieu_delete', {'id':lieu.id}) }}" class="btn btn-danger"
                                   onclick="return confirm('Supprimer??')"><span class="fa fa-trash"></span></a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="tab-pane fade" id="ajouterlieux">
            <form action="{{ path("lieu_create")}}" method="post" {{ form_enctype(form) }}>

                <div class="form-group">
                    {{ form_errors(form.nom) }}
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.adresse) }}
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.codePostal) }}
                    {{ form_label(form.codePostal) }}
                    {{ form_widget(form.codePostal) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.commune) }}
                    {{ form_label(form.commune) }}
                    {{ form_widget(form.commune) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.telephone) }}
                    {{ form_label(form.telephone) }}
                    {{ form_widget(form.telephone) }}
                </div>


                {{ form_rest(form) }}
                <input type="submit" id="submit" value="Valider" name="submit" />
            </form>
            <p>
                {{ parent() }}
            </p>        </div>

    </div>

{% endblock %}