<form  action="{{ path('user_edit') }}" {{ form_enctype(form) }} method="POST">

    <div class="form-group {% if form_errors(form.email)|length >1 %} error{% endif %}">
        <label for="username" class="control-label">Adresse e-mail : </label>
        {{ form_widget(form.email) }}
    </div>
    <div class="form-group {% if form_errors(form.plainPassword.first)|length >1 %} error{% endif %}">
        <label for="username" class="control-label">Mot de passe</label>
        {{ form_widget(form.plainPassword.first) }}
        <span class="help-inline">{{ form_errors(form.plainPassword.first) }}</span>
    </div>
    <div class="form-group">
        <label for="username" class="control-label">Confirmer votre mot de passe</label>
        {{ form_widget(form.plainPassword.second) }}

    </div>

    <div class="form-group">
        <label for="nom" class="control-label">Nom : </label>
        {{ form_widget(form.nom) }}
    </div>

    <div class="form-group">
        <label for="prenom" class="control-label">Prénom : </label>

        {{ form_widget(form.prenom) }}
    </div>

    <div class="form-group">
        <label for="statut" class="control-label">Statut : </label>

        {{ form_widget(form.statut) }}

    </div>
    <div class="form-group">
        <label for="datenaiss" class="control-label">Date de naissance : </label>
        {{ form_widget(form.dateNaissance) }}
    </div>

    <div class="form-group">
        <label for="sexe" class="control-label">Sexe : </label>
        {{ form_widget(form.sexe) }}
    </div>

    <div class="form-group">
        <div class="controls">
            <button type="submit" class="btn btn-info">Modifier <i class="icon-white icon-edit"></i></button>
        </div>
    </div>
    {{ form_rest(form) }}
</form>