{% extends "::layout.html.twig" %}
{%  block titre %}
    {{ parent() }} Profil
    {% endblock %}
{% block contenu %}

<h1>{{ user.prenom }} {{ user.nom }}</h1>
<h2>{{ user.statut }}</h2>
{{ user.sexe }} {{ user.Age }} ans


    <h2>Mes évenements créés</h2>
    <ul>
        {% for evenementCree in user.evenementsCrees %}
            <li><a href="{{ path('evenement_view',{'id': evenementCree.id }) }}">{{ evenementCree.nom }}
                    - {{ evenementCree.dateHeure|date }}</a></li>
        {% endfor %}
    </ul>

<div>
    <h2>Mes participations aux évenements</h2>
    {% if user.participations is empty %}
        Aucune participation à afficher.
    {% else %}
        {% for participation in user.participations %}
            {{ participation.evenement.nom }}
        {% endfor %}
    {% endif %}
</div>
<div>
    <h2>Mes bons plans</h2>
    {% if user.bonsplans is empty %}
        Aucun bon plan à afficher.
    {% else %}
        {% for bonplan in user.bonsplans %}
            {{ bonplan.titre }}
        {% endfor %}
    {% endif %}

</div>

{% endblock %}