{% extends "::layout.html.twig" %}

{% block contenu %}

<h1>{{ user.prenom }} {{ user.nom }}</h1>
<h2>{{ user.statut }}</h2>
{{ user.sexe }} {{ user.Age }} ans


<div>
    Mes évenements créés
    <ul>
        {% for evenementCree in user.evenementsCrees %}
            <li><a href="{{ path('evenement_view',{'id': evenementCree.id }) }}">{{ evenementCree.nom }}
                    - {{ evenementCree.dateHeure|date }}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    Mes participations aux évenements
    {% if user.participations is empty %}
        Aucune participation à afficher.
    {% else %}
        {% for participation in user.participations %}
            {{ participation.evenement.nom }}
        {% endfor %}
    {% endif %}
</div>
<div>
    Mes annonces
    {% if user.bonsplans is empty %}
        Aucun bon plan à afficher.
    {% else %}
        {% for bonplan in user.bonsplans %}
            {{ bonplan.titre }}
        {% endfor %}
    {% endif %}

</div>
{% endblock %}