{% extends "::layout.html.twig" %}
{% block titre %}
    On est là
{% endblock %}
{% block scriptsHead %}
    {{ parent() }}
    <script src="{{asset("assets/js/jquery.bootstrap.newsbox.min.js")}}" type="text/javascript"></script>
    <script>
        $(function () {

            $(".demo2").bootstrapNews({
                newsPerPage: 4,
                autoplay: true,
                pauseOnHover: true,
                navigation: false,
                direction: 'down',
                newsTickerInterval: 2500,
                onToDo: function () {
                    //console.log(this);
                }
            });
        });
    </script>
{% endblock %}

{% block contenu %}


    <div id="target-content">
        <div id="tf-features">
            <div id="feature" class="gray-bg"> <!-- fullwidth gray background -->
                <div class="container"> <!-- container -->
                    <div class="row" role="tabpanel"> <!-- row -->
                        <div class="col-md-4"> <!-- tab menu col 4 -->


                                <div class="panel panel-default actus">
                                    <div class="panel-heading">Ce qu'il se passe sur HENA HENA</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <ul class="demo2">
                                                    {%  for bonplan in bonsplans %}
                                                        <li class="news-item">
                                                            <h4>{{ bonplan.user.prenom |upper }} {{ bonplan.user.nom|upper }}</h4>
                                                            <div>{{ bonplan.categorie.nom |upper }}</div>
                                                            {{ bonplan.contenu|striptags|slice(0, 50) ~ '...' }} <a href="{{ path('bonplan_view',{'id':bonplan.id}) }}">Voir plus...</a></li>

                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                        </div><!-- end tab menu col 4 -->

                        <div class="col-md-6"> <!-- right content col 6 -->
                            <h1>HENA HENA !</h1>

                            </div> <!-- end tab content wrapper -->
                        </div><!-- end right content col 6 -->

                    </div> <!-- end row -->
                </div> <!-- end container -->
            </div><!-- end fullwidth gray background -->
        </div>
    </div>








    <!-- Services -->
    <div class="services-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="service wow fadeInUp">
                        <div class="service-icon"><i class="fa fa-graduation-cap"></i></div>
                        <h3>T'accompagner dans tes études</h3>
                        <p>HenHena est là pour t'informer et te proposer des bons plans rédigés par d'autres étudiants et par nous !</p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="service wow fadeInDown">
                        <div class="service-icon"><i class="fa fa-home"></i></div>
                        <h3>Des logements étudiants</h3>
                        <p>Toutes les informations sur les résidences étudiants se trouvent ici.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="service wow fadeInUp">
                        <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
                        <h3>Des bons plans</h3>
                        <p>Colocation, Covoiturage, expositions et visites... Des bons plans rédigés par vous et par nous !</p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="service wow fadeInDown">
                        <div class="service-icon"><i class="fa fa-users"></i></div>
                        <h3>Une communauté</h3>
                        <p>HenaHena c'est un ensemble d'étudiants marocains (ou non) qui rédigent des bons plans qui profitent à tous.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section
   ================================================== -->
    <div class="page-title-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow fadeIn">
                    <i class="fa fa-envelope"></i>
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 contact-form wow fadeInLeft">
                    <p>
                        N’hésite pas à nous écrire pour plus d’informations ou de suggestions. </p>
                    <form role="form" action="{{ path('index') }}" method="post">
                        <div class="form-group">
                            <label for="contact-name">Nom</label>
                            {#<input type="text" name="name" placeholder="Votre nom..." class="contact-name" id="contact-name">#}

                            {{ form_widget(formContact.nom) }}
                            {{ form_errors(formContact.nom) }}
                        </div>
                        <div class="form-group">
                            <label for="contact-email">Email</label>
                            {#<input type="text" name="email" placeholder="Votre email..." class="contact-email" id="contact-email">#}
                            {{ form_widget(formContact.email) }}
                            {{ form_errors(formContact.email) }}
                        </div>
                        <div class="form-group">
                            <label for="contact-subject">Sujet</label>
                            {#<input type="text" name="subject" placeholder="Votre sujet..." class="contact-subject" id="contact-subject">#}
                            {{ form_widget(formContact.sujet) }}
                            {{ form_errors(formContact.sujet) }}
                        </div>
                        <div class="form-group">
                            <label for="contact-message">Message</label>
                            {#<textarea name="message" placeholder="Votre message..." class="contact-message" id="contact-message"></textarea>#}
                            {{ form_widget(formContact.message) }}
                            {{ form_errors(formContact.message) }}
                        </div>
                        {{ form_widget(formContact) }}
                        {{ form_errors(formContact) }}

                        {{ form_rest(formContact) }}
                        <button type="submit" class="btn">Envoyer</button>
                    </form>
                </div>
                <div class="col-sm-5 contact-address wow fadeInUp">
                    <h3>On est la</h3>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2785.422638255082!2d4.9133530151347085!3d45.722618379104794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c1e55ad9c5eb%3A0xcf62d8e5e962f971!2sUNIVERSITE+LYON+2+Campus+Porte+des+Alpes!5e0!3m2!1sfr!2sfr!4v1488215992291"
                                width="447" height="290" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <h3>Adresse</h3>
                    <p>Université Lyon 2<br> 69800, Bron, France</p>
                    <p>Tél: 06 50 12 59 74</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
