{% extends '::layout.html.twig' %}
{% block styles %}
    {{ parent() }}
{% endblock %}

{% block contenu %}
    <div class="content">
        <h1>{{ bonplan.titre }} | <span class="categorie">{{ bonplan.categorie.nom }}</span></h1>
        <p>{{ bonplan.contenu | html }}</p>

        {% if bonplan.categorie.id==1 %}
            <div class="description">
                <strong>Départ</strong>
            <p>{{ bonplan.depart }}</p>
            <strong>Arrivée</strong>
            <p>{{ bonplan.arrivee }}</p>
            <strong>Prix du trajet</strong>
            <p>{{ bonplan.prix }} €</p>
            </div>
        {% elseif bonplan.categorie.id==2 %}
            <div class="description">
                <strong>Superficie</strong>
                <p>{{ bonplan.superficie }} m²</p>
            <strong>Loyer</strong>
            <p>{{ bonplan.loyer }} €</p>
            </div>
           
        {% else %}
        {% endif %}
         <hr/>
         <p><em>Rédigé par <a href="{{path("user_profilof", { 'id': bonplan.user.id })}}">{{bonplan.user.prenom}}</a>, modifié le {{bonplan.dateModif|date("d/m/Y à H:i")}}</em></p>
    </div>
{{ parent() }}
{% endblock %}