{% extends '::layout.html.twig' %}
{% block styles %}
    {{ parent() }}
{% endblock %}

{% block contenu %}
    <div class="content">
        <h1>{{ bonplan.titre }} ({{ bonplan.categorie.nom }})</h1>
        <p>{{ bonplan.contenu | striptags }}</p>

        {% if bonplan.categorie.id==1 %}
            {{ bonplan.depart }}
            {{ bonplan.arrivee }}
            {{ bonplan.prix }}
        {% elseif bonplan.categorie.id==2 %}
            {{ bonplan.superficie }} m2
            {{ bonplan.loyer }} €
        {% else %}
        {% endif %}
    </div>
{{ parent() }}
{% endblock %}