{%  extends "::layout.html.twig" %}
{% block contenu %}

<form action="{{ path("bonsplans_create")}}" method="post" {{ form_enctype(form) }}>


    <div>
        {{ form_errors(form.titre) }}
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre) }}
    </div>
    <div>
        {{ form_errors(form.categorie) }}
        {{ form_label(form.categorie) }}
        {{ form_widget(form.categorie) }}
    </div>
    <div>
        {{ form_errors(form.contenu) }}
        {{ form_label(form.contenu) }}
        {{ form_widget(form.contenu) }}
    </div>

    <div>
        {{ form_errors(form.superficie) }}
        {{ form_label(form.superficie) }}
        {{ form_widget(form.superficie) }}
    </div>

    <div>
        {{ form_errors(form.loyer) }}
        {{ form_label(form.loyer) }}
        {{ form_widget(form.loyer) }}
    </div>

    <div>
        {{ form_errors(form.prix) }}
        {{ form_label(form.prix) }}
        {{ form_widget(form.prix) }}
    </div>

    <div>
        {{ form_errors(form.depart) }}
        {{ form_label(form.depart) }}
        {{ form_widget(form.depart) }}
    </div>

    <div>
        {{ form_errors(form.arrivee) }}
        {{ form_label(form.arrivee) }}
        {{ form_widget(form.arrivee) }}
    </div>


    {{ form_rest(form) }}
    <input type="submit" id="submit" value="VALIDER" name="submit" />
</form>
<script src="{{asset('bundles/app/ckeditor/ckeditor.js')}}"></script>
{% endblock %}
{% block scripts %}
    {{ parent() }}
<script>

    CKEDITOR.replace( 'bonplan_create[contenu]' );
</script>
{%  endblock %}