<form action="{{ path("bonsplans_create")}}" method="post" {{ form_enctype(form) }}>


    <div>
        {{ form_errors(form.titre) }}
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre) }}
    </div>
    <div>
        {{ form_errors(form.categorie) }}
        {{ form_label(form.categorie) }}
        {{ form_widget(form.categorie) }}
    </div>
    <div>
        {{ form_errors(form.contenu) }}
        {{ form_label(form.contenu) }}
        {{ form_widget(form.contenu) }}
    </div>



    {{ form_rest(form) }}
    <input type="submit" id="submit" value="VALIDER" name="submit" />
</form>